@import "base/colors.css.scss";

.schedule{
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.tui-full-calendar-layout{
  background-color: $main-content-background-color !important;
}

.tui-full-calendar-timegrid-schedules{
  border: 1px solid rgb(229, 229, 229);
  border-radius: 8px;
}

.tui-full-calendar-timegrid-h-grid{
  background-color: white;
  border-radius: 8px;
}

.tui-full-calendar-dayname-container{
  border: none !important;
  background-color: $main-content-background-color !important;
}

.tui-full-calendar-timegrid-left{
  .tui-full-calendar-timegrid-timezone{
    width: 50% !important;
    border-right: none !important;
    background-color: $main-content-background-color !important;
  }
}

.tui-full-calendar-time-date:last-child {
  border-right: none !important;
}

.tui-full-calendar-timegrid-hourmarker-line-left{
  border-top: 1px dashed $orange-5-color !important;
}

.tui-full-calendar-timegrid-hourmarker-line-today{
  border-top: 1px solid $orange-5-color !important;
}

.tui-full-calendar-timegrid-todaymarker{
  background-color: $orange-5-color !important;
}

.tui-full-calendar-timegrid-hourmarker-time{
  color: $orange-5-color !important;
  padding-right: 8px !important;
}

.tui-full-calendar-dayname.tui-full-calendar-today{
  .tui-full-calendar-dayname-date-area{
    color: $orange-5-color !important;
  }
}

.tui-full-calendar-dayname.tui-full-calendar-holiday-sun{
  .tui-full-calendar-dayname-date-area{
    color: $sunday-dark-blue !important;
  }
}

.tui-full-calendar-time-date.tui-full-calendar-today{
  background-color: $orange-0-color !important;
  background-color: rgba(255, 123, 0, 0.05) !important;
}

.tui-full-calendar-timegrid-hour{
  span{
    width: min-content;
  }
}

.tui-full-calendar-timegrid-right{
  margin-left: 35px !important;
}

.tui-full-calendar-dayname-leftmargin{
  margin-left: 40px !important;
}

.tui-full-calendar-dayname{
  .tui-full-calendar-dayname-date-area{
    .date-number{
      font-size: 18px !important;
    }

    .day-name{
      font-size: 12px !important;
    }
  }
}

.schedule-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-navigation{
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-bottom: 10px;

  .month{
    flex-shrink: 0;
  }

  .navigation{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.tui-full-calendar-time-schedule{
}

.tui-full-calendar-time-schedule-content {
}