@import "base/colors.css.scss";

.recipient{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #767676;
  font-size: 12px;
}

#messages{
  height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;

  .message-item-left{
    width: 100%;
    display: flex;
    justify-content: start;
    .message-text{
      background-color: #f0f0f0;
      color: #545454;
    }
  }

  .message-item-right{
    width: 100%;
    display: flex;
    justify-content: end;
    .message-text{
      background-color: $orange-4-color;
      color: white;
    }
  }

  .message-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .message-text{
    padding: 5px 8px;
    border-radius: 8px;
    margin-top: 2px;
    font-size: 13px;
    font-weight: lighter;
    max-width: 180px;
  }
}

.chat-input{
  display: flex;
  height: 40px;
  width: 95%;
  background-color: #f0f0f0a7;
  justify-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 0 auto;
  .message-input-cont{
    display: flex;
    width: 100%;
  }
  .message-input{
    flex: 1;
    border: none;
    padding: 5px 10px;
    background-color: transparent;

    &:focus{
      outline: none !important;
    }
  }
  .chat-submit-button{
    margin-top: auto;
    margin-bottom: auto;
    color: $orange-5-color;
    border: none;
    margin-right: 10px;
    background-color: transparent;
    font-size: 16px;
  }
}