@import "base/colors.css.scss";

.login-background-img{
    background-color: $orange-1-color;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.login-panel{
    width: 90vw;
    height: 85vh;
    border-radius: 12px;
    display: flex;
    overflow-y: scroll;
}

.login-info-section, .login-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-info-section{
    width: 60%;
    background-color: $orange-2-color;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.login-form-section{
    width: 40%;
    background-color: $orange-0-color;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.login-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    form{
        width: 100%;
        padding: 0 50px;

        input:focus {
            border-color: $orange-4-color;
            outline: none !important;
          }
    }
}

.login-container-register{
    padding-bottom: 0px;
}

.mentora-icon{
    padding-bottom: 5px;
    width: 250px;
}

.mentora-icon-register{
    padding: 0;
}

.login-field{
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.actions{
    display: flex;
    justify-content: center;
}


.login-button{
    background-color: $orange-3-color;
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    width: 100%;
    &:hover{
        background-color: $orange-4-color;
    }
    
}

.login-link-container{
    font-size: 13px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 10px 0;
}

.login-link-container-register{
    padding: 10px;
}

.login-form-link{
    text-decoration: none;
    color: $orange-3-color;
    font-weight: 600;
    &:hover{
        color: $orange-4-color;
    }
}

.password-reminder-container{
    padding: 0 50px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.login-form-link-black{
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    &:hover{
        color: $orange-4-color;
    }
}

.password-register-container{
    display: inline-flex;
    gap: 5px;
    width: 100%;
}

.password-register-container > * {
    flex-grow: 1;
}

