@import "base/colors.css.scss";

.landing{
  background-color: white !important;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .logo{
      height: 50px;
    }

    .nav-action{
      display: flex;
      gap: 15px;
      a{
        color: $orange-4-color;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    .nav-login{
      width: 225px;
      display: flex;
      justify-content: end;
      .nav-login-button{
        text-decoration: none !important;
        background-color: $orange-4-color;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }

  .motto{
    padding-top: 100px;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    line-height: 75px;
    position: relative;
    z-index: 10;

    .motto-color-one{
      color: $orange-3-color;
    } 

    .motto-color-two{
      color: $orange-5-color;
    }

    .description{
      margin-top: 20px;
      font-size: 16px;
      max-width: 650px;
      line-height: 20px;
      text-align: center;
      font-weight: 300;
    }

    .motto-action{
      .motto-login-button{
        text-decoration: none !important;
        background-color: $orange-6-color;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 15px;
      }
    }
  }

  .preview-section{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    max-width: 780px;
    height: 450px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 500;
    .preview-header{
      display: flex; 
      align-items: center;
      min-height: 36px;
      max-height: 36px;
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom: 1px solid #e6e6e6;
      padding-left: 20px;
      gap: 10px;
      .action-dot-red, .action-dot-green, .action-dot-yellow{
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        width: 10px;
        height: 10px;
      }

      .action-dot-green{
        background-color: #34c759;
      }

      .action-dot-red{
        background-color: #ff3b30;
      }

      .action-dot-yellow{
        background-color: #fc0;
      }
    }

    .preview_image{
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}