@import "base/colors.css.scss";

.student-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name-group{
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.student-avatar{
  background-color: #ffa65246;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  padding: 5px;
  object-fit: cover;
  object-position: center;
}

.student-title{
  width: max-content;
  color: #ffa652;
  padding: 3px;
  border-radius: 8px;
}

.next-lesson-group{
  .next-lesson-data{
    color: #767676;
    .title{
      color: #212529 !important;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .date{
      text-align: end;
      font-size: 14px;
    }
    .hour{
      text-align: end;
      font-size: 13px;
    }
  }
}

.student-first-section, .student-second-section{
  display: flex;
  gap: 20px;
  align-items: center;

  .card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    .text{
      font-size: 11px;
      background-color: #ffa65246;
      color: #ffa652;
      padding: 2px 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.student-first-section{
  width: 100%;
  margin-top: 60px;
  .events, #student-lessons-history-turbo{
    background-color: white;
    border-radius: 8px;
    height: 250px;
  }
  .events{
    overflow-y: scroll;
    width: calc((100% - 20px) * 2 / 3);
  }
  
  #student-lessons-history-turbo{
    overflow-y: scroll;
    width: calc((100% - 20px) / 3);
    .topic-element{
      display: flex;
      width: 100%;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #f2f3f6;
      border-left: 3px solid white;

      .topic-date{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 30%;

        .text{
          font-size: 12px;
        }
      }

      .topic-title{
        width: 70%;
        font-size: 14px;
      }
    }
  }

  .inactive-element{
    border-left: 3px solid #b0b0b08c !important;
    opacity: 0.5;
  }

  .next-topic{
    border-left: 3px solid $green-1-color !important;
    background-color: #c3debe65;
  }

  .future-topic{
    border-left: 3px solid $orange-2-color !important;
  }
}

.student-second-section{
  width: 100%;
  margin-top: 20px;
  #teacher-attachments-turbo, #student-attachments-turbo, .chat{
    background-color: white;
    border-radius: 8px;
    height: 280px;
    width: calc((100% - 40px) / 3);

    .file-bg{
      background-color: #eff0f4ab;
      padding: 10px 12px;
      margin: 5px;
      border-radius: 8px;
      .file-cont{
        display: flex;
        align-items: center;
        gap: 4px;
        .file{
          display: flex;
          align-items: center;
          gap: 15px;
          overflow-y: hidden;
          .icon{
            background-color: #bcbcbca3;
            color: white;
            padding: 5px 9px;
            border-radius: 6px;
          }
          a{
            font-size: 14px;
            color: $orange-2-color;
            text-wrap: wrap;
          }
        }
      }

      .file-date{
        display: flex;
        justify-content: end;
        align-items: center;
        .date{
          font-size: 10px;
          color: #858585;
        }
        span.hour{
          color: $orange-5-color;
        }
      }
    }
  }

  .attachments{
    display: flex;
    width: calc((100% - 20px) * 2 / 3);
    align-items: center;
    gap: 20px;
    #teacher-attachments-turbo{
      overflow-y: scroll;
      width: 100%;
    }
  
    #student-attachments-turbo{
      overflow-y: scroll;
      width: 100%;
    }
  }

  .chat{
    overflow-y: scroll;
    flex: 1;
  }

}