@import "base/colors.css.scss";

.main-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: $orange-4-color;
  background-color: $orange-0-color;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid $orange-2-color;
  width: max-content;
  font-size: 14px;

  &:hover{
    background-color: $orange-3-color;
    color: $orange-0-color;
  }
}

.logout-button-transparent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: $orange-5-color;
  background-color: transparent;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid $orange-5-color;
  width: max-content;
  font-size: 11px;

  &:hover{
    background-color: $orange-5-color;
    color: $orange-0-color;
  }
}

.round-action-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: $orange-0-color;
  text-decoration: none;
  color: $orange-4-color;
  cursor: pointer;

  &:hover{
    color: $orange-5-color;
  }
}

.round-delete-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 50%;
  background-color: $red-danger-lite;
  color: $red-danger-main;
  cursor: pointer;

  &:hover{
    color: $red-danger-dark;
  }
}

input.btn.submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: $orange-4-color;
  background-color: $orange-0-color;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid $orange-2-color;
  font-size: 14px;
  margin-top: 30px;
  width: min-content;
  
  &:hover{
    background-color: $orange-3-color;
    color: $orange-0-color;
  }
}

.set-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 2px 5px;
  border-radius: 12px;
  color: $orange-4-color;
  border: 1px solid $orange-3-color;
  background-color: $orange-0-color;
  font-size: 12px;
  &:hover{
    background-color: $orange-3-color;
    color: $orange-0-color;
  }
}