@import "base/colors.css.scss";

form.main-form{
  width: 50%;

  .input, .custom-input{
    background-color: #efece9;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 3px;
    padding-top: 0;

    label, .custom-input-label{
      font-size: 13px;
      padding-left: 5px;
      padding-top: 2px;
      color: $text-grey;

      abbr[title]{
        display: none !important;
      }
    }
  }

  input, select{
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    margin: 0;
    font-size: 15px;
  }

  select {
    option:first-child {
      color: #767676 !important;
    }
  }

  input:focus, select:focus{
    border-color: $orange-4-color;
    outline: none !important;
  }

  .form-alert{
    font-size: 12px;
    color: red;
  }

  .user-avatar-preview{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
    object-position: center;
  }
}

.errors-notify-text{
    font-size: 12px;
    color: red;
    margin-bottom: 0;
}

.error{
    font-size: 12px;
    color: red;
}

.field_with_errors{
  input, select{
    margin-bottom: 0px !important;
    border: 1px solid red !important;
  }
}

.index-form-search{
  background: url('loupe_icon.png') no-repeat 10px center;
  background-size: 30px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid #d5d5d5;
  width: 100%;
  position: relative;
  padding-left: 45px;

  &:focus-visible{
    outline: none;
  }
}

.color_picker{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-input-label{
  font-size: 13px;
  padding-left: 5px;
  padding-top: 2px;
  color: $text-grey;
  margin-bottom: 3px;

  abbr[title]{
    display: none !important;
  }
}

.avatar-input-preview{
  display: flex;
  align-items: center;
  gap: 8px;
}