@import "base/colors.css.scss";

*{
  font-family: 'Euclid', sans-serif;
}

body{
  background-color: $main-site-background-color;
}

.hidden{
  visibility: hidden;
}

.display-none{
  display: none;
}

.warning-text{
  color: $red-danger-main !important;
  text-decoration: underline !important;
}

.main-page-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  
  .title{
    margin-bottom: 0;
  }

  .icon{
    font-size: 20px;
  }
}

.many-elements{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}