@import "base/colors.css.scss";

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: $main-site-background-color;
}

.hidden{
  visibility: hidden;
}

.main-page-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  .icon{
    font-size: 15px;
  }
}