@import "base/colors.css.scss";

form.modal-form{
  width: 100%;

  .input, .custom-input{
    background-color: $main-site-background-color;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 3px;
    padding-top: 0;

    label, .custom-input-label{
      font-size: 13px;
      padding-left: 5px;
      padding-top: 2px;
      color: $text-grey;

      abbr[title]{
        display: none !important;
      }
    }
  }

  input, select{
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    margin: 0;
    font-size: 15px;
  }

  select {
    option:first-child {
      color: #767676 !important;
    }
  }

  input:focus, select:focus{
    border-color: $orange-4-color;
    outline: none !important;
  }

  .form-alert{
    font-size: 12px;
    color: red;
  }

  .action-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eff0f4;
  }
}

#lessonFormModal .modal-content {
  border: none;
  border-radius: 23px;
}

.day-checkbox{
  display: none;
}

.day-selector{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  .day-button{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid $orange-5-color;
    cursor: pointer;

    &:hover{
      background-color: $orange-3-color;
      span{
        color: white;
      }
    }

    span{
      height: min-content;
      margin: auto 0;
      color: $orange-3-color;
    }
  }

  .day-button.selected{
    background-color: $orange-4-color;
    span{
      color: white;
    }
  }
}