@import "base/colors.css.scss";

@media only screen and (max-width: 850px) {
    .login-container{
        width: 90vw;
    }

    .login-info-section{
        width: 0;
    }

    .info-icon-container{
      display: none;
    }

    .login-form-section{
        width: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}