@import "base/colors.css.scss";

.content{
  padding: 20px;
  display: flex;
  height: 100vh;

  .content-group{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 34px;

    .left-menu{
      width: 280px;
      box-sizing: border-box;
      background-color: white;
      border-top-left-radius: 34px;
      border-bottom-left-radius: 34px;

      .left-menu-container{
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      a{
        text-decoration: none !important;
      }

      .top{
        padding-top: 40px;
        flex: 1;
      }

      .bottom{
        border-top: 1px solid #eff0f4;
        padding-top: 30px;
        padding-bottom: 70px;
        .avatar-with-name{
          display: flex;
          align-items: center;
          gap: 10px;
          padding-left: 25px;
          font-size: 12px;
        }
        .action-buttons{
          display: flex;
          gap: 5px;
          .edit-icon{
            color: #ff7b00;
            font-size: 14px;
          }
        }
      }

      .logo{
        width: 240px;
        margin-left: 40px;
        margin-bottom: 60px;
      }
      
      .left-menu-link{
        display: flex;
        margin-bottom: 15px;
        gap: 20px;
        padding-left: 40px;
        .icon{
          width: 22px;
        }
        .icon, .text{
          color: $text-grey;
        }
      }

      .active{
        .icon, .text{
          color: $orange-4-color;
        }
        border-left: 2px solid $orange-4-color;
        padding-left: 38px;
      }
    }

    .right-content{
      padding: 20px 15px;
      flex: 1;
      background-color: $main-content-background-color;
      box-sizing: border-box;
      margin-top: 20px;
      margin-right: 20px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      overflow-y: scroll;
    }

    .right-content:has(#lesson-calendar) {
      overflow-y: hidden;
    }
    
  }
}

.user-avatar{
  width: 60px;
  height: 60px;
  background-color: #eff0f4;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  object-position: center;
}

.user-avatar-small{
  width: 25px;
  height: 25px;
  background-color: #eff0f4;
  border-radius: 50%;
  padding: 2px;
  object-fit: cover;
  object-position: center;
}

.page-title{
  margin-bottom: 30px;
}