/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'login.scss';

 @font-face {
    font-family: 'Maitree';
    src: font-url('Maitree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Poppins';
    src: font-url('Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: font-url('Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

:root {
    --green-0-color: #c3debe;
    --green-1-color: #a2d8a6;
    --green-2-color: #70cf95;
    --green-3-color: #47b278;
    --green-4-color: #008c59;
    --beige-login-color: #eae5e1;
    --beige-login-outline-color: #c0bdba;
  }