= turbo_frame_tag "users-turbo-table" do
  = render 'index', title: @title, list: list, new_button_text: "Dodaj", new_path: new_user_path, filters: !(defined?(disable_filters) && disable_filters), modal_form: true
  