.index-filters
  = search_form_for @search, {remote: false, html: {class: "search-form"}}.merge( not_standard_url( @search_url ) ) do |f|
      = hidden_field_tag :show_disabled, params[:show_disabled].present? && params[:show_disabled]

      = f.search_field (@search.klass.try(:quick_search) || :name_cont), class: "index-form-search", placeholder: "Szukaj", data: {controller: "search", action: "change->search#submitForm"}
